<template>
  <div
    class="mdt-input"
    :class=" { 'has-error': $v.inputValue.$error }">
    <div
      v-if="label"
      class="input-label">
      {{ label }}
      <i v-if="required">*</i>
    </div>
    <div class="input-wrapper">
      <input
        :value="value"
        :type="type"
        :required="required"
        :placeholder="placeholder"
        @input="onInput($event.target.value)"
        @focus="$emit('focus')"
        @keyup.enter="$emit('keyupEnter')">
      <slot name="icon" />
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import {
  required,
  email,
  numeric,
  minValue,
  maxValue,
} from 'vuelidate/lib/validators';

export default {
  name: 'MdtInput',
  mixins: [validationMixin],
  props: {
    value: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
      default: '',
    },
    placeholder: {
      type: String,
      required: false,
      default: '',
    },
    type: {
      type: String,
      required: false,
      default: 'text',
      validator: (value) => {
        const match = ['text', 'number', 'email', 'password'];
        return match.includes(value);
      },
    },
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
    min: {
      type: Number,
      required: false,
      default: Number.MIN_SAFE_INTEGER,
    },
    max: {
      type: Number,
      required: false,
      default: Number.MAX_SAFE_INTEGER,
    },
  },
  data() {
    return {
      inputValue: this.value,
    };
  },
  validations() {
    return {
      inputValue: {
        required: this.required ? required : false,
        email: this.type === 'email' ? email : false,
        numeric: this.type === 'number' ? numeric : false,
        minValue: this.type === 'number' ? minValue(this.min) : false,
        maxValue: this.type === 'number' ? maxValue(this.max) : false,
      },
    };
  },
  methods: {
    setTouched() {
      this.$v.inputValue.$touch();
    },
    isValid() {
      this.setTouched();
      return !this.$v.$invalid && !this.$v.$error;
    },
    onInput(value) {
      this.setTouched();
      this.inputValue = value;
      this.$emit('input', value);
    },
  },
};
</script>

<style lang="scss" scoped>
.mdt-input {
  text-align: left;

  &.has-error {
    color: #f00;

    input {
      border-color: #f00;
      box-shadow: 0 0 2px #ff000066;
    }
  }
}

.input-label {
  margin-bottom: 8px;
  font-size: 0.875rem;
}

.input-wrapper {
  position: relative;

  input {
    display: block;
    padding: 0 10px;
    width: 100%;
    line-height: 40px;
    border: 1px solid #bebebe;
    border-radius: 5px;

    &:focus {
      outline: 0;
      box-shadow: 0 0 2px #009199;
    }
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bebebe;
  }
}
</style>
