<template>
  <button class="button" :class="[`is-${type}`]">
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'TqButton',
  props: {
    text: {
      type: String,
      default: 'test',
    },
    type: {
      type: String,
      default: 'primary',
      validator: (val) => {
        const match = ['primary', 'secondary'];
        return match.includes(val);
      },
    },
  },
};
</script>
