<template>
  <div class="field">
    <label v-if="label" class="label">{{ label }}</label>
    <div class="control">
      <input
        :value="inputValue"
        class="input"
        :class="{ 'is-danger': !isInputValid }"
        :type="type"
        :placeholder="placeholder"
        :required="required"
        @input="onInput">
    </div>
  </div>
</template>

<script>
export default {
  name: 'TqInput',
  props: {
    value: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
      default: '',
    },
    placeholder: {
      type: String,
      required: false,
      default: '',
    },
    type: {
      type: String,
      required: false,
      default: 'text',
      validator: (value) => {
        const match = ['text', 'password', 'email'];
        return match.includes(value);
      },
    },
    required: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      inputValue: this.value,
      touched: false,
    };
  },
  computed: {
    isInputValid() {
      if (!this.touched) return true;
      return this.isValid();
    },
  },
  methods: {
    isValid() {
      this.touched = true;
      if (!this.required) return true;
      return !!this.inputValue?.trim();
    },
    onInput(e) {
      const { value } = e.target;
      this.inputValue = value;
      this.$emit('input', value);
    },
  },
};
</script>
