<template>
  <div class="container">
    <div class="box">
      <TqInput
        ref="email"
        v-model="email"
        type="email"
        placeholder="e.g. alex@example.com"
        label="Email"
        :required="true"
        @keyup.enter.native="signIn" />
      <TqInput
        ref="pass"
        v-model="pass"
        type="password"
        placeholder="********"
        label="Password"
        :required="true"
        @keyup.enter.native="signIn" />
      <TqButton
        text="Sign in"
        type="primary"
        @click.native="signIn" />
    </div>

    <div class="box">
      <p>Email: {{ email }}</p>
      <p>Password: {{ pass }}</p>
    </div>
  </div>
</template>

<script>
import TqInput from '@/components/TqInput.vue';
import TqButton from '@/components/TqButton.vue';

export default {
  name: 'App',
  components: {
    TqInput,
    TqButton,
  },
  data() {
    return {
      email: '',
      pass: '',
    };
  },
  methods: {
    signIn() {
      let isValid = true;
      Object.values(this.$refs).forEach((el) => {
        if (typeof el.isValid === 'function' && !el.isValid()) {
          isValid = false;
        }
      });

      if (!isValid) return;

      console.log('[signin] email: ', this.email);
      console.log('[signin] password: ', this.pass);
    },
  },
};
</script>

<style lang="scss">
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
</style>
